body{
	background-image:url("../img/fondo.jpg");
	    background-attachment: fixed !important;
	    background-size:cover;
	/*background-attachment: fixed;
	 -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-family: 'Abel', sans-serif;
	background: linear-gradient(80deg, #6eaa0b, #1989aa, #c87809, #169b79, #8814b4, #2614b4, #569f70, #6c3e11);
	background-size: 1600% 1600%;

	-webkit-animation: Animacion 160s ease infinite;
	-moz-animation: Animacion 160s ease infinite;
	animation: Animacion 160s ease infinite;
*/

}



@-webkit-keyframes Animacion {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animacion {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animacion { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
h1{


}

.btn-inicio{
	width:100%;
	height: 150px;
	box-shadow: 0 0 5px #00000059;
	border-radius:10px;


}
.btn-inicio>div>img{
	transition-duration:0.3s;
	width:85px;
	opacity:0.5;
	margin-top:20px;
}
.btn-inicio>div>img:hover{
	transition-duration:0.3s;
	opacity:0.7;
	text-decoration:none !important;
}
div>.btn-inicio>div>span{
	color:black;
	opacity:0.5;
	font-size:1.5em;
	font-family: 'PT Sans', sans-serif;

}
div:hover{
	text-decoration:none !important;
}
div>.btn-inicio:hover{
	transition-duration:0.3s;
	-webkit-filter: brightness(80%);
	text-decoration:none !important;
}
.efectoZoom{
	transition-duration: 0.3s;


}
.efectoZoom:hover{
	transition-duration: 0.3s;
	transform:scale(1.05);

}

.zonaUsuario{
	    background-color: rgba(255, 255, 255, 0.65);
	margin-top: 10px;
	margin-right: 0px;
	box-shadow: 0 0 5px #00000059;
	padding: 10px 0;
	border-radius:5px;
}

.imagenCannabis{
	width:90%;
	height:155px;
	margin:auto;


	background-size: 100% auto;
	background-repeat:no-repeat;
}

.pCannabis{
	background-color:#f2f2f2;
	margin-bottom:15px;
	padding-top:5%;
	box-shadow: 0 0 5px #00000059;
	border-radius:5px;
	transition:ease-in-out 0.3s;
}

.pCannabis .btn{
	border-radius:0 0 5px 5px;
}

.nombreCannabis{
	background-color:#212121;
	padding:5px;
	text-transform:uppercase;
	color:white;
	font-weight: 500;
	font-size:30px;
	margin: -9px 5px 30px 5px;
	transform: rotate(-2deg);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
	background-color: #212121;
	box-shadow: 0 0 5px #00000059;
	transition:ease-in-out 0.3s;
	border-radius:4px;
}
a.nav-link{
	color:black;
}
.tituloCategoria{
	font-weight: 500;
	padding:10px;
	margin:10px 0;
	background-color:rgba(33, 33, 33, 0.89);
	color:white;
	box-shadow: 0 0 5px #00000059;
	width:100%;
	text-align:center;
}

.tipoDato{
	width:100%;
	background-color: #2f2f2f;
	padding:2px;
	font-size:18px;
	text-transform: uppercase;
	font-weight:500;
	color:white;
	text-align: center;
}
.dato{
	width:100%;
	background-color:#e3e3e3;
	font-size:24px;
	padding:2px;
	text-align: center;
	color:#676767;
	text-transform: uppercase;
}

.bg-verde {
    background-color: #81ae5f !important;
}
.nav-justified .nav-item{
	background-color: #f1f1f1d9;
	margin: 0 3px;
	box-shadow: 0 0 5px #00000059;
	transition: ease-in-out 0.5s;
	border-radius:5px;
	font-size:20px;
}

.botonVolver{
position:fixed 	;
bottom:10px;
right:10px;
}

.botonPagar{
position:fixed 	;
bottom:100px;
right:10px;
display:none;
}

.botonPagar i{
	padding:10px;
	background-color: rgba(9, 105, 23, 0.88);
	color:white;
	font-size:30px;
	border-radius:100%;
	box-shadow: 0 0 36px #fff;
}

.botonSalir i,.botonVolver i{
	padding:10px;
	background-color: rgba(3, 3, 3, 0.76);
	color:white;
	font-size:30px;
	border-radius:100%;
	box-shadow: 0 0 36px #fff;
}
.botonSalir span,.botonVolver span, .botonPagar span{
	text-align:center;
	font-weight: bold;
	font-size:17px;
	color: white;
	    text-shadow: 0 0 36px #000;
}

.botonSalir{
position:fixed 	;
bottom:10px;
left:10px;
}






.novedades{

	box-shadow: 0 0 5px #00000040;
	    max-height: 165px;
    overflow-y: scroll;
}

.zona-login{

	box-shadow: 0 0 5px #0501014D;
	background-color:white;
	border-radius:20px;
}
.zona-login input:first-child{
	border-radius:10px 10px 0 0;
}
.zona-login button{
	border-radius:0 0 10px 10px;
	text-transform:uppercase;
	font-size:20px;
}

.zona-login input{
	border:none;
	width:100%;
	text-align:center;
	font-size:25px;
}
.zona-login input:first-child{
	border-bottom:1px solid #00000030;
}

.logo img{
	width:60%;
}
.logo{
	text-align: center;
	z-index:3;
	margin-top: 15%;
	height:220px;


	transition:ease-in-out 0.3s;
}

.btn-nuevo-socio{
	width: 100%;

	background-color: #ffffff96;

	box-shadow: 0 0 5px #0501014D;

	margin-top: 40px;

	padding: 15px 0;

	color: #000c;

	cursor: pointer;
	border-radius:10px;
	

}

.btn-nuevo-socio h1{
	text-transform: uppercase;

	margin-top: 10px;

	user-select: none;

	font-size: 27px;

	text-align:center;

	margin-right: 15px;
}


.formulario{
	width:100%;

}



#zona-alta .card{
	box-shadow: 0 0 5px #0501014D;
	background-color:#ffffff38;
	color:#ffffff;
	/*max-height: 483px;*/
}

#zona-alta .card-body{
	overflow-y:scroll;
}

.logo-banner{
    height: 105px;
    margin-top: 10px;

}

.bg-verde{
background-color: #B4F0A1 !important;
}



 /* Customize the label (the container) */
.checks {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checks input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checks:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checks input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checks input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checks .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.btn-zona-alta{
	margin-top:5px;
	text-align:center;
	padding:10px;
	text-transform:uppercase;
	transition-duration:0.3s;

}
.activo{
	color:black;
	background-color:white;
	font-weight: bold;
	transition-duration:0.3s;
	border-radius:20px;
}

.zona-cargando img{
	width: 40%;

}
.zona-cargando{
	text-align:center;
}
.cont-login{
	height:150px;
	z-index:999;
	transition:ease-in-out 0.3s;
}

.zona-error{
	padding:20px;
	color:white;
	font-weight: 400;
	font-size:20px;
	background-color:#b00000;
	text-align:center;
	display:none;
	box-shadow: 0 0 5px #0006;

	text-shadow: 0 0 5px #0006;
}

.fotoUser{

    width: 100%;
    height: 100%;

	background-size: cover;
	background-position:center;
	border-radius: 5px;
}

.margen-a{
	margin-top:20px;
}

.titulo-peque{
	text-align:center;
	margin-top:20px;
	font-size:20px;
	font-weight: 600;
	text-shadow:0 0 3px #000000b3;
	color:white;
	text-transform: uppercase;
}

.infoUser{

}
.nombreSocio{
	font-size:23px;
}

.sin-geneticas{
	padding:10px;
	color:white;

	background-color: #a82a2ab3;

	box-shadow: 0 0 3px #000000b3;

	margin: 20px 4px;
}


#btn-menos, #btn-menos2, #btn-menos3{
	float:right;
    color: #2f2f2f;
    margin-left: 10px;
    border: 2px solid #2f2f2f;
}

#btn-menos:active, #btn-menos2:active, #btn-menos3:active{
	transform:scale(1.2);
	background-color:#ad2d2d;
	color:white;
	border-color:#ad2d2d;;
}

#btn-mas:active, #btn-mas2:active, #btn-mas3:active{
	transform:scale(1.2);
	background-color:#44b350;
	color:white;
	border-color:#44b350;
}


#btn-mas, #btn-mas2, #btn-mas3{
	float:left;
    color: #2f2f2f;
    margin-right: 10px;
   
    border: 2px solid #2f2f2f;
}
#cont-aportaciones{
	padding: 22px;
	border-radius: 28px;
	background-color:#f1f1f1;
	font-size:35px;
}
.zona-contador{
	margin-top:30px;
}

#btn-menos,#btn-mas,#cont-aportaciones{
	
	font-weight:bold;
	text-align:center;
}

#btn-menos,#btn-mas{
	font-size:15px;

	width: 100px;
	padding: 21px 33px;
	border-radius: 100%;
	transition:ease-in-out 0.1s;
}

#btn-menos2,#btn-mas2,#btn-menos3,#btn-mas3{
    font-size: 12px;
    width: 66px;
    padding: 12px 19px;
    border-radius: 100%;
    transition: ease-in-out 0.1s;
    margin-top: 17px;
}



#btn-menos i,#btn-mas i{
	font-size:30px;
	
	
}

.descripcion p {
	overflow:scroll;
	height:200px;
}
#zonaArticulos h2{
	color:white;
	text-shadow:0 0 10px #000;
}

#zonaArticulos a.nav-link{
	color: black;

	background-color: white;

	margin-top: 10px;

	box-shadow: 0 0 5px #00000059;
}

#zonaArticulos .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	color: #fff;

	background-color: #212121;

	box-shadow: 0 0 5px #00000059;
	transition:ease-in-out 0.3s;
}

#zonaContenedoresArticulos{
	background-color: white;
	box-shadow: 0 0 5px #00000059;
	max-height: 270px;
    overflow-y: scroll;
}

#zonaContenedoresArticulos .list-group-item{
	font-size:20px;
}

#btn-seleccionar-genetica{
	transition-duration:0.5s;
}
.novedades{


	font-size:20px;
}
.novedades .text-muted{

	font-size:10px;
}
.novedades .marron{
	background-color: #9a7f7f;
    border: 1px solid #695b5b;
    width: 15px;
    height: 25px;
    float: left;
    border-radius: 8px;
    margin-top: 7px;
    margin-left: 5px;
    margin-right: 30px;
}
.novedades .verde{
	/*background-color: #6f843f;*/
	background-image:url('../img/cannabis.png');
	width:25px;
	height:25px;
	float: left;
	margin-right: 25px;
	/*border-radius:100%;*/
	margin-top: 7px;
}

.novedades .list-group-item{
	padding: 7px 1.25rem;
}

.is-invalid{
	box-shadow:0 0 10px red;
}

.mensaje-error-val{
	color: #ff2d2d;
	display: none;
	text-shadow: 0 0 16px #fff;
	font-weight: bold;
}

.btn-anadir-articulo{
	width:50px;
	transition-duration:0.3s;
}
.btn-anadir-articulo:disabled{
	background-color:green !important;
	transition-duration:0.3s;
	border-color: green;
}
.btn-anadir-articulo:focus{
	box-shadow:none;
}

.contenedor--menu {
  background-color: #0f0f0fde;
  z-index: 300;
  height: 100%;
  width: 430px;
  -webkit-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
  -moz-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
  -o-box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
  box-shadow: 6px 5px 10px 0px rgba(50, 50, 50, 0.22);
  overflow-y: auto;
  position: fixed;
  display:none;
  right:0px;
  color:white;
}

.tituloCategoriaArticulos{
	font-weight: 300;
	padding: 0 10px 10px 0;
	margin: 10px 0;
	font-size:1.5em;

	width:100%;
}
.contenido-menu-articulos{
	margin:30px;
	text-transform:uppercase;
}

.tablaListaArticulos{
	width:390px;
	margin-bottom:20px;
}
.tablaListaArticulos th, .tablaListaArticulos td{
	border-bottom: 1px solid #ffffff61;
    padding: 10px;

}

.contenedor--menu h3, .contenedor--menu .text-muted{
	width:390px;
	float:left;
}

.contenedor--menu h1{
	width: 325px !important;
	float: left;
}

.contenedor--menu .btn{
	background:none;
	color:white;
	border:1px solid #ffffff59;
}

.lista-finalizar-cannabis h3{
	margin-top:10px;
}
.lista-finalizar-articulos h5{
	margin-bottom:0px;
	margin-top:5px;
}

#zonaArticulos .card{
	box-shadow:0 0 5px #00000059;
}

#zonaArticulos .precio-finalizar {
	background-color:white;
	box-shadow:0 0 5px #00000059;
	margin-top:10px;
	padding:10px;

}
#zonaArticulos .precio{
	text-align:center;
}
#zonaArticulos .precio>span{
	font-size:50px;

}
#zonaArticulos .btn-confirmar, #zonaArticulos .btn-vaciar{

	text-align:center;
	font-size:30px;
	margin-top:10px;
	padding:10px;
	box-shadow:0 0 5px #00000059;

}

.btn-dark{
	background-color:#1f1f1f !important;
}

.fondo-finalizar-compra{
	background-color:#8dc149;
	padding:20px;
	box-shadow:0 0 5px #00000059;
	margin-top:50%;
	color:white;
	text-shadow: 0 0 11px #0000005c;
}
.fondo-finalizar-compra h2{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
	text-shadow: 0 0 11px #0000005c;
	font-size:1.5em;
}

#otras-operaciones .btn-si, #otras-operaciones .btn-no{
	padding:10px;
	margin-top:20px;
	box-shadow:0 0 5px #00000059;
	font-size:1.5em;
}

.agotado{
	background-color:#ff3737;
	opacity: 0.5;
	color:red !important;
}

.pAgotado{
	background-color:#ff3737;

	color:#ffffffa6 !important;
}

.pAgotado:disabled{
	background-color:#0a0a0a !important;
	border-color:#0a0a0a !important;

}

.zonaCantidad .pAgotado{
	border:none !important;
}
.zonaCantidad .btn-group{
	margin-top:5px;
}

#zonaContenedoresArticulos .col-sm-4{
margin-top:7px;
}

.zona-perfil h5{
	color:white;
}

.bg-verde{
	    background-color: #9bce66 !important;
}

.btn-success{
	background-color:#7faf5a !important;
}

/*TODO ESTO ES DE LA FIRMA*/

.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: auto;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:800px;
  height:400px;
  background-color: white;
}

canvas{
	border-radius:10px;
	border:1px solid #a1a1a1;
}

#zona-alta .btn{
	border-radius:10px;
}

#zona-alta input{
	color: #000;
	background-color: #ffffff70;
	border:0;
	border-radius:20px;

}
#zona-alta input::placeholder { color: white; }
#zona-alta h1, #zona-alta h2, #zona-alta h3, #zona-alta h4, #zona-alta ul, #zona-alta ol, #zona-alta span, #zona-alta label, #zona-alta b{
	text-shadow: 0 0 16px #000;
}
.t-nuevosocio{
	margin-top: 5px;
	    margin-bottom: 0px;
text-shadow: 0 0 5px #ffffff;

}

.mensaje-firma{
	position: fixed;
    left: 25%;
    bottom: 3%;
    background-color: #ff0000b5;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 15px #00000059;
    padding: 20px;
    font-size: 22px;
    width: 50%;
    text-align: center;
    z-index: 99999;
}
.input-ampliado{

    background-color: #ffffffb5;
    border-radius: 10px;
    color: #505050;
    box-shadow: 0 0 15px #00000059;
    padding: 20px;
    font-size: 22px;
    text-shadow:none;
    text-transform:none;

}
.zona-input-ampliado{
		position: fixed;
	    left: 25%;
	    top: 10%;
	    text-align: center;
	    z-index: 99999;
	    width: 50%;
	    color:white;
	    text-shadow: 0 0 37px #000000;
	    text-transform: uppercase;

	    font-size: 20px;
	    text-shadow: 0 0 37px #000000;
	    text-transform: uppercase;
	    font-weight: 100;
	    font-size: 20px;
}

#nombre-input{
	background-color: #212121fa;
	padding: 10px;
	border-radius: 18px;
}

.n-genetica{
	margin-top: 2px;
    float: left;
}

.btn{
	border-radius:5px;
}
.bg-naranja{
	background-color: #d49d46 !important
}

.bg-marron{
	background-color: #a96237 !important;
}

.btn-marron{
	background-color: #a93737 !important;
  color:white;
  transition: ease-in-out 0.5s;
}

.btn-marron:hover{
	color:white;
	transform:scale(1.1);
}

.alert-light{
	border-radius:5px;
}

.btn.contador{
	border-radius:0;
}

.btn-menos{
	border-radius:10px 0 0 10px;
}

.btn-mas{
	border-radius:0 10px 10px 0;
}
.btn-cantidad{
	border:0 !important;
}

.version{
	position:absolute;
	bottom:10px;
	right:10px;
	color:white;
	text-shadow:0 0 20px #000;
}

.progress{
	padding:5px;
	border-radius:5px;
}

.lista-historial{
	max-height:170px;
	overflow-y:scroll;
}
/**/


.zona-marihuana, .zona-hachis{
	display:none;
}


.bg-marihuana{
	background-image:url("../img/marihuana.png");
	background-size: cover;

}


.bg-hachis{
	background-image:url("../img/hachis.png");
	background-size: cover;
	
}

.btn-sel{
	width: 100%;
	height: 318px;
	box-shadow: 0 0 5px #00000059;
	border-radius: 10px;
	margin-top: 44px;
	padding-top:130px;


}


.btn-sel>div>span{
	color:white;
	
	font-size:1.8em;
	font-family: 'PT Sans', sans-serif;
	font-weight:800;
	text-shadow:0 0 10px #000;
	margin-top:50%;

}
.btn-sel:hover{
	transition-duration:0.3s;
	-webkit-filter: brightness(80%);
	text-decoration:none !important;
}

.zona-seleccion>.can, .zona-seleccion>.hac{
	display:none;
}

.touchmenu.uno{
	animation-delay: 0.2s;
}
.touchmenu.dos{
	animation-delay: 0.4s;
}
.touchmenu.tres{
	animation-delay: 0.6s;
}

.novedades, #row-header{
	animation-duration: 0.3s;
}

/*TABLETS GRANDES*/

@media (min-width: 1200px){
	.recomendaciones{
		position:absolute;
		    top: 350px;
		width: 1110px;

	}
	.novedades{
		max-height:315px;
		
	}
	#zona-alta .card{
		height: 660px !important;
	}
	#alta-1 .row{
		height: 502px;
	}
	#alta-2 .contenido{
		max-height: 515px !important;

	}
	#alta-3 .contenido{
		max-height: 560px !important;
	}
	#alta-4 .contenido{
		max-height: 472px !important;
	}
	.lista-historial {
	    max-height: 350px;
	    
	}
	#zonaContenedoresArticulos{
		max-height: 450px;


	}

	.zona-marihuana .tab-panel{
		max-height:450px;
		overflow-y:scroll;
		overflow-x:auto;
		max-width:100%;
	}

}

.text-muted {
    color: #f1f1f1 !important;
}
.btn-quitar-articulo1, .btn-quitar-articulo2{
	background-color:#ce1212 !important;
	border:none !important;

}

#salir{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius:15px;
	box-shadow: 0 0 72px #000000;
	width:400px;
	height:200px;
	background-color:#d23232;
	z-index:9999;
	padding:20px;

}
.blur{
	filter:blur(4px);
}

#salir .contador{
	font-size:60px;
}

.pCannabis:active{
	transform:scale(1.2);
}

#vaciar-cesta{
	position: absolute;
	bottom: 10px;
	width: 174px;
	right: 10px;
	background-color: #ce1212 !important;
}

#btn-en{
	
	margin-left:20px;
}

.fade{
  display:none;
}

.zona-marihuana .nav-justified .nav-item{
	margin-bottom:10px;
}
.menu-vacio{
	background-color: rgba(255, 255, 255, 0.6784313725490196);
    color: black;
}
#zona-otros {
	font-size:25px;
}

@media (min-width: 576px){
.modal-dialog {
    margin: 5px auto;
}
}
