<body style="text-align:justify;">
<h2><u>ASOCIACIÓN CANNÁBICA - SOLICITUD DE ADMISIÓN SOCIO/A</u></h2>
</br>
<table width="80%" style="margin:0 0 0 20%;">
	<tr>
		<td><u><b>Nº TARJETA:</b></u></td>
	</tr>
	<tr>
		<td><b>APELLIDOS:</b></td>
		<td><b>DNI:</b></td>
	</tr>
	<tr>
		<td><b>NOMBRE:</b></td>
		<td><b>EMAIL:</b></td>
	</tr>
	<tr>
		<td><b>DOMICILIO:</b></td>
		<td><b>TELEFONO:</b></td>
	</tr>
</table>

<p>Por la presente, solicito a la Junta directiva de la asociación ser admitido como socio/a al cumplir con los requisitos establecidos en los estatutos, y manifiesto ser mayor de 21 años y:</p>

<ul>
	<li><b>SER CONSUMIDOR/A DE CANNABIS SATIVA L.</b></li>
	<li><b>SER CONSUMIDOR/A DE TABACO</b></li>
	<li><b>SER CONSUMIDOR/A DE PLANTAS CON PROPIEDADES TERAPÉUTICAS</b></li>
	<li><b>SER CONSUMIDOR/A HABITUAL DE CANNABIS POR RAZONES TERAPÉUTICAS</b>, y tener diagnosticada una enfermedad para la que el cannabis tiene efectos terapéuticos según la IACM, o que el uso paliativo de los cannabinoides ha sido probado científicamente y aportar certificado médico acreditativo de la solicitud de uso de cannabis por parte del paciente sin oposición médica, o tener una licencia de uso de cannabis de cualquier país del Mundo.</li>

</ul>

<p>
	AFIRMO mi voluntad de incorporarme como SOCIO/A de la ASOCIACIÓN CANNÁBICA ISLA BONITA conociendo los estatutos y objetivos de ésta y me comprometo a cumplir con ellos, con las normas de funcionamiento interno y con la legislación española, con especial atención a:
</p>
</body>