*{
	

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a, th{
	font-family: 'Roboto', sans-serif;

	font-weight:300;
}

a{
	color:#3D8C14;
}
.nav-tabs{
	border:none;
}

.content-wrapper{
	background-color:#f9fafb!important;
}
.btn-inicio{
	width:98%;
	height: 170px;
	box-shadow: 0 0 5px #00000059;
	margin:auto;

}

.touchmenu{
	padding:0px;

}

.btn-inicio>div>img{
	transition-duration:0.3s;
	width:85px;
	opacity:0.5;
	margin-top:20px;
}
.btn-inicio>div>img:hover{
	transition-duration:0.3s;
	opacity:0.7;
	text-decoration:none !important;
}
a>.btn-inicio>div>span{
	color:black;
	opacity:0.5;
	font-size:1.5em;
	font-family: 'PT Sans', sans-serif;

}
a:hover{
	text-decoration:none !important;
}

a>.btn-inicio:hover{
	transition-duration:0.3s;
	filter: brightness(80%);
	text-decoration:none !important;
}
.efectoZoom{
	transition-duration: 0.3s;


}


.efectoZoom:hover{
	transition-duration: 0.3s;
	transform:scale(1.05);

}

.margenArriba{
	margin-top:30px;
	margin-bottom:30px;
}
#proximasRenovaciones>table{
	border-radius:10px !important;
}
.vermas{
	float:right;
	font-size:0.6em;

	margin-top: 5px;
	
	transition-duration:0.5s;

}
.vermas:hover{
	color:#a0cc89;
}



.centroSocios{
	background-color:white;
	padding:20px;
	margin-top:20px;
}
#tablaSocios{
	background-color:white;

	border-radius:5px;
}

.negrita{
	font-weight: bold;
}
.datosPerfil{
	margin-top:30px;
	margin-bottom:30px;
}
.comentPerfil{
	border: 1px solid #dfdfdf;
	margin-top:30px;
	padding:20px;
	border-radius:5px;
	color:#6c6c6c;
	background-color: #f3f3f3;
	transition-duration: 0.3s;
}

.comentPerfil:hover{
	background-color: #e7e7e7;
	transition-duration: 0.3s;
}

#inputComentarioPerfil{
	margin-bottom:30px;
}
.oculto{
	display:none !important;
}
.inicioActivo{

	color:white;
}
.inputDatoPerfil{
	background:none;
	border:none;
	user-select:none;
	color:#31313199;
	padding:5px;
	transition-duration:0.2s;
	cursor:pointer;
	margin-bottom: 8px;

}
.inputDatoPerfil:hover{
    color: #212121;
    transition-duration: 0.2s;
        background-color: #00000021;

}
.inputDatoPerfil:focus{
	border-radius:5px;
	border:1px solid #c5c5c5;
	box-shadow: 0 0 5px #2dae7c;
	background-color:white;
}

#mensajes{
	display: inline-block;
	position:fixed;
	bottom: 60px;
	right: 14px;
	z-index:999999;
	background-color:rgba(255, 255, 255, 0.89);
	box-shadow:0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);
	color:rgba(0,0,0,0.7);
	padding:30px;
	border-radius:.5rem;
	transition-duration:0.2;
	display:none;
	font-family:fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:bold;
	font-size:15px;
}
#mensajes:hover{
	background-color:#4b4b4be6;
	transition-duration:0.2s;
}

.botonesGestionSocios{
	margin-left:20px;
	display:inline-block;
}


label{
	font-weight: 600;
}

.textoCambiarImagen{
	position:absolute;
	top:30px;
	left:20%;
	color:white;
}
.imagenGenetica>img{
	transition-duration:0.3s;
}
.imagenGenetica>img:hover{
	filter: blur(1px);
	z-index:0;
}


.jumbotron{
	background-color:#e5f2db;
}

.breadcrumb{
	background-color: #393b3c;
}
.breadcrumb>li>a{
	color:white;
}




.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
	background-color:#55783b;
	border-color: #679B41;
	box-shadow: 0 0 0 0.2rem rgb(176, 203, 156);
}
.btn-primary:focus, .btn-primary:click{
	box-shadow: 0 0 0 0.2rem rgb(176, 203, 156);
}

table.dataTable {
border-collapse: collapse !important;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting{
	text-transform: uppercase !important;
	    border-bottom: 2px solid #00a65a;
	    padding-right: 25px !important;
	    border-top:none;
	    padding-top: 10px;
	    padding-bottom: 10px;
	    padding-left: 9px;
}
thead.bg-white th{
	border-bottom: 2px solid #00a65a;
}
/*.form-control{
	background-color: #f3f3f3 !important;
	border:0;
}
*/
#zonaAlta>div>.form-group>label {
    font-weight: 600;
    width: 100%;
    background-color: #373a3c;
    color: white;
    margin: 0;
    padding: 5px;
    text-transform: uppercase !important;
}


#mainNav.navbar-light .navbar-collapse .navbar-sidenav{
	background-color: #ffffff;
	    border-right: 1px solid rgba(0,0,0,.0625);
	    box-shadow: 0 0 5px #00000017;
}


.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}
.krajee-default.file-preview-frame .kv-file-content {
    width: 100% !important;
    height: 100% !important;
}
.anadirGenetica input, .anadirGenetica textarea{
	border:none;
	background-color:white;
	width:100%;
	padding:10px;
	margin-top:5px;
}

.comentario-a-genetica{
	font-size:20px;color:#676767;height:150px;

}

.anadirGenetica .tipoDato{
	width:100%;
	background-color: #2f2f2f;
	padding:2px;

	text-transform: uppercase;
	font-weight:500;
	color:white;
	text-align: center;
	margin-top:5px;
}

.bg-verde {
    background-color: #00a65a;
}
.krajee-default .file-footer-caption{
	color:white !important;
}

.text-muted {
    color: #31313196 !important;
}

.ngenetica-tabla{
	font-size:1.5em;
}
.pgenetica-tabla{
	font-size:1.3em;
}
#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link{
	padding: 15px;
	    font-size: 15px;
	transition-duration:0.3s;
	    color: #000000b0 !important;
}
#mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover{
	background-color: #ffffff20;
}
.anadirGenetica{
	background-color:#f1f1f1;
}


.fade2 {
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
	display: block !important;
}

.fade2.show {
    opacity: 1;
	transform: scale(1);

}

.bg-dark {
    background-color:#2d262c !important
}

.contenedor-articulos .zona-categorias{
	background-color: white;
	border: 1px solid #eee;
	border-right: 0;
	border-radius: 2px 0 0 2px;
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom:10px;
}

.contenedor-articulos .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
   color: #ffffff !important;
       background-color: #00a65a !important;
}
/*
.contenedor-articulos .nav-pills .nav-link span{
	max-width: 70%;
    float: left;
    margin-top:4px;
}
*/
.contenedor-articulos .nav-link{
	transition: ease-in-out 0.3s;
	    padding: 15px !important;
	    padding-left: 20px !important;
	    text-transform: uppercase;
	    margin: 5px 0;
	    color: #444444;
	    font-size: 14px;
	    border-radius: 0px;
	    border:none;

}
.contenedor-articulos .nav-link button{
	background:none !important;
	border:none;
}
.contenedor-articulos .nav-link:hover{
	color: #444444;
	border: none;
}


.nav-link:hover, .nav-link:focus{

    transition: ease-in-out 0.3s;
    color: white;

}

.contenedor-articulos .zona-articulos{
	background-color: white;
	border: 1px solid #eee;
	padding-top: 20px;
	border-left: 0;
}



.btn-eliminar-cat, .btn-editar-cat{
	float:right;
	
	transition-duration:0.3s;
	transform:scale(0.0);
	color:#00a65a;
	font-size:17px;
}

.nav-pills .nav-link.active .btn-eliminar-cat, .nav-pills .nav-link.active .btn-editar-cat{
	color:white;
}
.btn-eliminar-cat:hover{
	transform:scale(1.2);
  	
}
#zonaCategoriasArticulos .active .btn-eliminar-cat, #zonaCategoriasArticulos .active .btn-editar-cat{
	opacity:1;
	transform:scale(1.0);
}
.narticulo-tabla{
	font-size:1.13em;
}

.fondo-rojo{
	background-color: #F0B4C1 !important;
}

.fondo-rojo .file-preview{
	border:none;
}
.fondo-rojo table{
	border:none;
}
.fondo-rojo label{
	color: #0009;
}

.progress .progress-bar{
	font-size:15px;
}

.progress{
	height: 1.5rem;
}

.infoSocioActivacion{

	padding:30px;
	border-radius:3px;
}



@media (min-width: 992px){
	.content-wrapper {
	    margin-left: 230px;
	}

	#mainNav .navbar-collapse .navbar-sidenav > .nav-item, #mainNav.fixed-top .sidenav-toggler > .nav-item, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li{
		width:210px;
	}
	footer.sticky-footer {
	    width: calc(100% - 210px);
	}


}


#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level{
	    background: #f8f9fa;
	transition-duration:0.3s;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover{
    background-color: #c1c1c1;
    color: #484848 !important;
	transition-duration:0.3s;
}
#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a:hover{
	background-color: #c1c1c1;
	color: #484848 !important;
	transition-duration:0.3s;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a{
	color:#00000073;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover{
	box-shadow:none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow:none;
}

.tab-content{
	padding-bottom:15px;
}


.cantidad-lista{
	margin-right:30px;
	font-weight:bold;
}

.agotado{
	border-left:5px solid #d25a66 !important;
}
.casi-agotado{
	border-left:5px solid #e8b218 !important;
}

.poca-cantidad{
	border-left:5px solid #d2cd29 !important;
}
li .categoria{
	float:right;

}

.navbar-expand-lg .navbar-nav .dropdown-menu{
	left: -154px;
}



.mostrador{
	font-size:10px;
	border-radius:5px;
	width:30%;
	padding:5px;
	margin:auto;
}



.cat-retirado{

	padding: 5px 0 5px 20px !important;
}

.retiradas-perfil #idRetirada, .retiradas-perfil #precioTotal{
	font-size:1.7em;
}

.bg-success {
    background-color: #00a65a !important;
}

.retiradas-perfil #fecha #btn{
	margin:0px;
}

.retiradas-perfil .card-header{
	padding: 5px !important;
}

.animacion-carga{
    position: fixed;
    z-index: 9999999;

	width:100%;
	height:100%;

}

.animacion-carga img{
	position:absolute;
    left: 40%;
    top: 40%;
}

#modalRenovaciones .modal-body{
	background-color: #efefef;
    text-transform: uppercase;

}

#modalRenovaciones input{
	border: none;
    padding: 10px;
    color: #3c3c3c;
    font-size: 1.4em;
    width:100%;
}

.lista-tablet .list-group-item{

    background-color: rgba(24, 24, 24, 0.2);
    margin:2px 0;
}


.lista-tablet .badge-primary {
    color: #fff;
    background-color: #3c4e2f;
    padding: 15px;
    background-color: #6b3783;
}

.btn-rojo {
    color: #fff !important;
    background-color: #FF0039 !important;
    border-color: #FF0039 !important;
    transition-duration:0.3s;
}
.btn-rojo:hover{
	background-color:#ad0027 !important;
}



.titulo-seccion{
	margin-left:120px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.titulo-seccion span{
font-size:1.5em;

}


#tabla-socios .btn{
	float:right;
}

#tabla-socios span>i{
	padding: 5px;
	background-color: #ffd100;
	border-radius: 100%;
	transition: ease-in-out 0.3s;
	margin-top:5px;
}

#tabla-socios span>i:hover{
	padding: 6px;
	font-size:14px;
	margin-top:2;
	background-color:#ffa200;
	    transform: rotate(20deg);
}
#tabla-socios{
	box-shadow: 3px 3px 0px #b7b7b7;
	border-radius: 10px;
}
#tabla-socios td{
	    padding-top: 19px;
}

.table .thead-dark th {
    color: #4a4a4a;
    background-color: #d4d4d4;
    padding: 20px;
    border:none;
}
.nav-geneticas a.nav-link{
	
	padding: 12px !important;
	font-size: 18px !important;
	text-transform: uppercase;
	border: 1px 1px 0 1px solid #d4d4d4;
	box-shadow: 0 0 5px #00000017;
	border-radius:2px 2px 0 0;
	color: #4a4a4a;
}
.nav-geneticas a.nav-link:hover{
	background-color:#d4d4d4;
}
.nav-geneticas a.nav-link.active{
	color: #ffffff !important;
	background-color: #00a65a !important;
	border-radius:2px 2px 0 0 ;

}
.nav-geneticas{
	margin-top:10px;
}
.nav-geneticas>a{
	margin:0 5px;
}

.tab-registro{
	background-color:white;
	border:1px solid #e8e8e8;
	padding:50px;
	margin:10px;
	border-radius: 10px;
}

.tab-registro input, .tab-registro select{
	border-radius: 10px;
}

.widgets .card-header{
	padding:14px;
}

.ultimos-socios div{
	padding:0px !important;
}

.ultimos-socios .n-socio{
	margin-left:10px;

	color:#b1b1b1;
	max-width:40px;
}

.contenedor-articulos{
	padding:20px;
}






#btnConfirmarRegistrarSocio{
	margin-top:20px;
	text-transform:uppercase;
}
.btn-segundo{

	color:#00a2b9;
	background:none !important;
	border:2px solid #00a2b9;
	transition:ease-in-out 0.3s;
	padding:15px;
}

.btn-segundo:hover{
	color:white;
	background-color:#00a2b9 !important;
	font-size:17px;
}

.modal-content{
	border:none;
	border-radius:2px;
	box-shadow: 0 0 5px #00000017;
}


.zona-nuevo-usuario .tab-content{
	background-color:white;
	border-radius:20px;
	padding:30px;
}
.zona-nuevo-usuario h3{
	margin:40px 0 ;
}
.zona-nuevo-usuario input{
	border-radius:10px;
	padding:15px;
	font-size:1.3em;
}



.page-link, .page-link:hover{
	color: #80af5b;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination{
	margin-top:10px;
}

.menu-seleccionado{
	background-color: #00a65a;
    color: white !important;
    transition-duration: 0.3s;
}

.btn-outline-secondary2 {
    color: #7b7b7b;
    background-color: transparent;
    border-color: transparent;
}

.btn-outline-secondary2:hover {
    color: #ffffff !important;
    background-color: #f44336 !important;
    border-color: white !important;
}

.btn-outline-secondary{
	color: #ffffff;
    background-color: transparent;

    border-color: #ffffff;
}

.btn-outline-secondary:hover{
	color: #8F54BD !important;
    background-color: white !important;

    border-color: white !important;
}
.popover{
	width:300px !important;
}

.popover-body .list-group-item, .popover-body .card-header, .popover-a-can .card-header, .popover-a-can .list-group-item, .popover-e-prod .list-group-item, .popover-e-prod .card-header{
	cursor:pointer;
}



.list-group-item{
	transition:ease-in-out 0.1s;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    background-color: #f1f1f1;
}

.circulo-verde{
	background-image:url('../img/cannabis.png');
	width:25px;
	height:25px;
	float: left;
	margin-right: 25px;
	/*border-radius:100%;*/

}
.circulo-otros{
	background-image:url('../img/joint.png');
	width:25px;
	height:25px;
	float: left;
	margin-right: 25px;
	/*border-radius:100%;*/

}
.circulo-marron{
	background-color: #9a7f7f;
    border: 1px solid #695b5b;
    width: 15px;
    height: 25px;
    float: left;
    border-radius: 8px;

    margin-left: 5px;
    margin-right: 30px;

}

.btn-cantidad button, .btn-cantidad-p button{
	padding: 0.5rem 1rem;
	width:40px;
}

.input-cantidad{
	padding:10px;
	font-size:15px;
	border:none;
	background-color:#f3f3f3 !important;
	width:60px;
}

.nom-socio.inputDatoPerfil{
	font-size:30px;
	color:#373a3c;
}

.file-caption-info, .file-size-info{
	color:#111 !important;
}




.perfil-socio .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #373a3c;
    border: 2px solid #373a3c;

}

.perfil-socio .nav-fill .nav-item{
	    border: 2px solid #373a3c;

	    color: #373a3c;
	    margin: 0 10px;

}
.perfil-socio .nav-item{
	transition:ease-in-out 0.3s;
}

.perfil-socio .nav-item:hover{
	transform:scale(1.1);
}

.lista-finalizar-productos{
	margin:20px 0;
}

.correccion-stock{
	transition:ease-in-out 0.3s;
}

.widgets .card{
	border-radius:2px !important;
	box-shadow: 0 0 5px #00000017;
}
.widgets .card-header{
	border-radius:2px 2px 0 0;
}

.cant-total{
	font-size:50px !important;
}
.tipo{
	border-radius:100px;
	width:25px;
	height:25px;
}
.tipo.verde{
	background-color:#00a65a;
	color:#00a65a;
}

.tipo.marron{
	background-color:#a2583b;
	color:#a2583b;
}

body.modal-open .background-container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
     filter: blur(4px);

 }

.alert .input-group-text{
	color: #00000073;

	background-color: #82cfef;
	border: none;
}


#zonaMenu{
	overflow-x:scroll;
}

#zonaMenu .fa, #zonaMenu .fas, #zonaMenu .material-icons{
	/*margin-right:10px;*/
	width: 26px;
	text-align: center;
}

#mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item > .nav-link:hover{
	    background-color: #dadada;
}

.sel-socio .card, #sel-socio{
	cursor:pointer;
	transition:ease-in-out 0.1s;
}

#sel-socio:hover{
	background-color: #00a65a !important;
	color: white;
	transform: scale(1.01);
}

.sel-socio .card:hover{
	transform: scale(1.01);
	box-shadow:0 0 11px #00000038;
}

.btn-muted-danger{
	background:none;
	color:#da0a0a;
	opacity:0.5 !important;
	transition:ease-in-out 0.1s;
}

.btn-muted-success{
	background:none;
	color:#00a65a !important;

	transition:ease-in-out 0.1s;
}
.btn-muted-success:hover{
	transform:scale(1.3);
}

.btn-muted-danger:hover{
	opacity:1.0 !important;
}

.perfil-socio table, .perfil-socio table input{
	width:100%;
}


.table-success, .table-success>td, .table-success>th{
	background-color: #74a94d !important;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 5px solid #505050;
}

#zona-notificaciones{
	max-height: 500px;
	overflow-x: scroll;

}

/**/

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #00a65a;
    border-color: #667f1f;
    transform: scale(1.1);
    transition: ease-in-out 0.3s;
}

.dataTables_filter input{
	background-color:white !important;
	padding:10px;
	border-radius:.5em;
	box-shadow:0 0.25rem 0.125rem 0 rgba(0,0,0,0.1);

}

.progress-bar{
	color:white;
	text-shadow:0 0 5px black;
}

#mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #2d262b;
}

.bg-azul{
	background-color: #4a7f94 !important;

}

.retiradas-perfil .card-header{
	border-radius:0px;
}

.icono-fondo{
	    position: absolute;z-index: 0;top: 14%;left: 2%; font-size: 5rem;opacity: 0.3;
	   
}

.icono-fondo .material-icons{
    font-size:115px;
}
.activaciones.dato .alert button, .activaciones.dato .alert{
	font-size:17px;
}

.dropdown-item{
	    color: #313131;
}

.zona-fechas .caja{
	background-color:white;
	margin:5px;
	padding:5px;
	border-radius:3px;
	border: 1px solid #d4d4d4;
	box-shadow: 0 0 7px #00002226;
	cursor:pointer;
	font-size:20px;
	transition:ease-in-out 0.3s;
}	

.zona-fechas .caja:hover{
	background-color:#f1f1f1;
	transform:scale(1.05);
}
.zona-fechas .caja:active{
	background-color:#00a65a;
	transform:scale(1.1);
}


.zona-fechas .card-header{
	border-radius:2px;
}

.btn-rapido{
	width: 100%;
	/*border: 2px solid grey;*/
	padding: 15px;
	border-radius: 2px;
	color:white !important;
	margin:5px;
	transition: ease-in-out 0.3s;
}

.btn-rapido.caja{
	background-color:#c54040;
	border-color:#c54040;
	color:white !important;
}

  .btn-rapido.activacion, .btn-rapido.transaccion{
	background-color:#2199c7;
	border-color:#2199c7;
	color:white !important;
}


.btn-rapido.caja:hover{
	background-color:#a22727;
	border-color:#c54040;
	color:white !important;
}

  .btn-rapido.activacion:hover, .btn-rapido.transaccion:hover{
	background-color:#12495f;
	border-color:#2199c7;
	color:white !important;
}



.btn-rapido i{
	font-size:30px;
}


.table th, .table td{
	padding:20px;
}

.zoomIn.dos{
	animation-duration: 0.3s;
}

.card-title{
	margin-bottom:0px !important;
}
.card-header{
	border-bottom: 0px;
}
.sandstone, .navbar .nav-link, .btn, .nav-tabs .nav-link, .nav-pills .nav-link, .breadcrumb, .pagination, .dropdown-menu .dropdown-item, .tooltip{
	font-weight:100;
}

.navbar-light.bg-white{
	border-bottom: 1px solid rgba(0,0,0,.0625);
    box-shadow: 0 0 5px #00000017;
}

.alert-light{
	    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px #00000017;
}

.text-grey{
	color:#797979 !important;
}

.card{
	    box-shadow: 0 0 5px #00000017;
}
#zona-caja .card-body{
	padding-left:2px;
	padding-right:2px;
	padding-top:10px;
}
#zona-caja .card-title{
	padding-left:1.25rem;
	margin-bottom:10px !important;
	/*padding-top:0.5rem;*/
}
.btn{
	border-radius:2px !important;
}
.btn-success{
	background-color:#00a65a !important;
	border-color: #009450;
}
.btn-success:hover{
	background-color:#02753f !important;
}

#zona-lista-socios .icono-fondo{
	top: 2%;
    left: 3%;
}

.modal-header{
	background-color: #00a65a;
	border-radius: 2px 2px 0 0 !important;
	color: white;
	
}
.modal-title{
	font-weight:300 !important;
}

.close{
	color:#ffffff;
}

.text-success{
	color:#00a65a !important;
}



.bg-gris{
	background-color:#f9fafb !important;
}

.zona-fechas h5{
	border-left: 5px solid #76b598;
	 
	    background-color: #cbecdd;
	    padding: 10px;
	    border-radius: 3px;
}

.border-morado{
	border-color: #881890 !important;

}

.border-success{
	border-color:#00a65a !important;
}

.material-icons.md-18 { font-size: 20px; } 

.zona-registro-gen{
	max-height:150px;
	overflow:scroll;
}

.btn-blanco{
	background-color: white;
	box-shadow: 0 0 5px #00000017;
	transition:ease-in-out 0.3s;

}

.btn-blanco:hover{
	background-color:#e4e4e4;
}

#mensajes .material-icons{
	font-size:30px;
	margin-top:-w30px;
	float:left;
}

h3.fino{
	font-weight:300 !important;
	margin:20px 0 !important;
}



